<!doctype html>
<html ng-app="ngTablescrollSample">
    <head>
        <title>angular-tablescroll-sample</title>
    </head>
    <body>
        <div style="height: 100px; width: 400px" ng-controller="ngTableScrollController">
            <table ng-tablescroll>
                <thead>
                    <tr>
                        <th>Col 1</th>
                        <th>Col 2</th>
                        <th>Col 3</th>
                        <th>Col 4</th>
                        <th>Col 5</th>
                        <th>Col 6</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in tableData">
                        <td ng-repeat="column in row">{{column}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">Footer Content</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="../angular-tablescroll.js"></script>
        <script>
            function ngTableScrollController($scope) {
                $scope.tableData = [
                    ['asdfasdfasdfafsd', 'asdflkjhlkjhadsf', 'ljhasldkjhlkhjasdf', 'asjkhioueh', 'hjioadsihpaisdf', 'kjpiokajpsdfoih'],
                    ['asdfasdfasdfafsd', 'asdflkjhlkjhadsf', 'ljhasldkjhlkhjasdf', 'asjkhioueh', 'hjioadsihpaisdf', 'kjpiokajpsdfoih'],
                    ['asdfasdfasdfafsd', 'asdflkjhlkjhadsf', 'ljhasldkjhlkhjasdf', 'asjkhioueh', 'hjioadsihpaisdf', 'kjpiokajpsdfoih'],
                    ['asdfasdfasdfafsd', 'asdflkjhlkjhadsf', 'ljhasldkjhlkhjasdf', 'asjkhioueh', 'hjioadsihpaisdf', 'kjpiokajpsdfoih'],
                    ['asdfasdfasdfafsd', 'asdflkjhlkjhadsf', 'ljhasldkjhlkhjasdf', 'asjkhioueh', 'hjioadsihpaisdf', 'kjpiokajpsdfoih'],
                    ['asdfasdfasdfafsd', 'asdflkjhlkjhadsf', 'ljhasldkjhlkhjasdf', 'asjkhioueh', 'hjioadsihpaisdf', 'kjpiokajpsdfoih']
                ]
            }
            angular.module('ngTablescrollSample', ['ngTablescroll']).controller('ngTableScrollController', ngTableScrollController);
        </script>
    </body>
</html>